<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department" parallel="tests" thread-count="6">
<listeners> 
        <listener class-name="test.Listeners"/>
          </listeners>

  <test  name="Personal Loan">
    <classes>
    	<class name="test.day1">
		<methods>
			<include name="demo"/>
		</methods>
    	</class>
 		<class name="test.day2"/>
		<class name="test.day4"/>
    </classes>
  </test> 


<test name="Car Loan">
<parameter name="URL" value="qaclickacademy.com"/>
<parameter name="APIKEY/Username" value="123456"/>
<classes>
	<class name="test.day3">
	</class>

</classes>

</test>
</suite> 
